html
{
    height: 100%;
}

body
{
    font: 13px Tahoma, Sans-Serif;

    height: 100%;
    margin: 0;
    padding: 0;

    background: #eee;
}

.wrapper
{
    position: relative;

    width: 700px;
    min-height: 100%;
    margin: 0 auto;

    background: #fff;
}
