.l-wrapper {
    width: 700px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    background: #FFF;
}

.l-header {
    padding: 20px;
    background: #45F;
}

.l-main {
    overflow: hidden;
    min-height: 100%;
    padding-bottom: 42px;
}

.l-nav {
    float: left;
    width: 20%;
}

.l-content {
    width: 55%;
    float: left;
}

.l-news {
    width: 25%;
    float: right;
}

.l-footer {
    position: absolute;
    bottom: 0;
    height: 42px;
    width: 700px;
    background: #45F;
    color: #FFF;
}