.header-title {
    display: inline-block;
    margin: 0;
    padding-left: 40px;
    color: #FFF;
    font-size: 180%;
    letter-spacing: 1px;
}

.header-search {
    float: right;
    font-size: 80%;
}

.header-label {
    display: inline-block;
    color: #FFF;
}

.header-field {
    width: 10em;
    display: block;
    font-size: 7pt;
}

.header-button {
    font-size: 7pt;
}

.nav-list {
    margin: 50px 0;
    padding: 0;
    list-style: none;
}

.nav-link {
    font-size: 80%;
    display: block;
    margin: 5px 0;
    border: 1px solid #FFF;
    border-right: 0;
    border-left: 0;
    padding: 2px 5px;
    text-decoration: none;
    color: #FFF;
}

.content-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 130%;
    padding: 0 15px;
    color: #293499;
}

.content-article {
    padding: 0 15px;
}

.content-image {
    float: left;
    padding: 5px;
    border: 1px solid #45F;
    margin: 0 15px 15px 0;
}

.news-title {
    background: #DDE6FF;
    text-transform: uppercase;
    font-weight: bold;
    color: #293499;
    margin: 0 0 20px 0;
    padding: 10px;
}

.news-article {
    margin: 20px 5px;
    font-size: 80%;
}

.news-date {
    color: #293499;
    font-size: 100%;
    font-weight: bold;
    float: left;
    margin: 0 5px 0 0;
}

.news-text {
    display: inline;
    color: #293499;
}

.news-text p:last-child {
    display: inline;
}

.news-link {
    color: #D00;
    padding-right: 13px;
}

.footer-text {
    display: block;
    font-size: 70%;
    margin: 5px;
}

.footer-link {
    color: #FFF;
}