html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #EEE;
	font: 10pt Tahoma, Sans-Serif;
}

.l-wrapper {
	width: 700px;
	min-height: 100%;
	margin: 0 auto;
	position: relative;
	background: #FFF;
}

.l-header {
	padding: 20px;
	background: #45F;
}

.header-text {
	display: inline-block;
	margin: 0;
	padding-left: 40px;
	color: #FFF;
	font-size: 180%;
	letter-spacing: 1px;
}

.header-search {
	display: block;
	float: right;
	font-size: 80%;
}

.header-search-text {
	display: inline-block;
	color: #FFF;
}

.header-search-field {
	width: 10em;
	display: block;
	font-size: 7pt;
}

.header-search-button {
	font-size: 7pt;
}

.l-main {
	overflow: hidden;
	min-height: 100%;
	padding-bottom: 42px;
}

.nav {
	float: left;
	width: 20%;
}

.nav-list {
	margin: 50px 0;
	padding: 0;
	list-style: none;
}

.nav-link {
	font-size: 80%;
	display: block;
	margin: 5px 0;
	border: 1px solid #FFF;
	border-right: 0;
	border-left: 0;
	padding: 2px 5px;
	background: #293499;
	text-decoration: none;
	color: #FFF;
}

.nav-link:hover {
	background: #D00;
}

.content {
	width: 55%;
	float: left;
}

.content-title {
    margin-top: 20px;
    margin-bottom: 10px;
	font-size: 130%;
	padding: 0 15px;
	color: #293499;
}

.content-article {
	padding: 0 15px;
}

.content-article-image {
	float: left;
	padding: 5px;
	border: 1px solid #45F;
	margin: 0 15px 15px 0;
}

.news {
	width: 25%;
	float: right;
}

.news-title {
	background: #DDE6FF;
	text-transform: uppercase;
	font-weight: bold;
	color: #293499;
	margin: 0 0 20px 0;
	padding: 10px;
}

.news-article {
	margin: 20px 5px;
	font-size: 80%;
}

.news-article-date {
	color: #293499;
	font-size: 100%;
	font-weight: bold;
	float: left;
	margin: 0 5px 0 0;
}

.news-article-text {
	color: #293499;
}

.news-article-link {
	color: #D00;
}

.l-footer {
	position: absolute;
	bottom: 0;
    height: 40px;
    padding: 1px 0;
	width: 700px;
	background: #45F;
	color: #FFF;
}

.footer-text {
	display: block;
	font-size: 70%;
	margin: 5px;
}

.footer-link {
	color: #FFF;
}