%cursor-auto {
  cursor: auto;
}
%cursor-crosshair {
  cursor: crosshair;
}
%cursor-default {
  cursor: default;
}
%cursor-e-resize {
  cursor: e-resize;
}
%cursor-help {
  cursor: help;
}
%cursor-move {
  cursor: move;
}
%cursor-n-resize {
  cursor: n-resize;
}
%cursor-ne-resize {
  cursor: ne-resize;
}
%cursor-nw-resize {
  cursor: nw-resize;
}
%cursor-pointer {
  cursor: pointer;
}
%cursor-progress {
  cursor: progress;
}
%cursor-s-resize {
  cursor: s-resize;
}
%cursor-se-resize {
  cursor: se-resize;
}
%cursor-sw-resize {
  cursor: sw-resize;
}
%cursor-text {
  cursor: text;
}
%cursor-w-resize {
  cursor: w-resize;
}
%cursor-wait {
  cursor: wait;
}
