.Bdc\(\#45f\) {
  border-color: #45f;
}
.Bds\(s\) {
  border-style: solid;
}
.Bdw\(1px\) {
  border-width: 1px;
}
.Bgc\(\#293499\) {
  background-color: #293499;
}
.Bgc\(\#45f\) {
  background-color: #45f;
}
.Bgc\(\#d00\)\:h:hover {
  background-color: #d00;
}
.Bgc\(\#dde6ff\) {
  background-color: #dde6ff;
}
.Bgc\(\#eee\) {
  background-color: #eee;
}
.Bgc\(\#fff\) {
  background-color: #fff;
}
.C\(\#000\) {
  color: #000;
}
.C\(\#293499\) {
  color: #293499;
}
.C\(\#d00\) {
  color: #d00;
}
.C\(\#fff\) {
  color: #fff;
}
.C\(\#fff\)\:h:hover {
  color: #fff;
}
.D\(b\) {
  display: block;
}
.D\(i\) {
  display: inline;
}
.D\(ib\) {
  display: inline-block;
}
.Fl\(end\) {
  float: right;
}
.Fl\(start\) {
  float: left;
}
.Ff\(Tahoma\) {
  font-family: Tahoma, sans-serif;
}
.Fw\(b\) {
  font-weight: bold;
}
.Fz\(100\%\) {
  font-size: 100%;
}
.Fz\(130\%\) {
  font-size: 130%;
}
.Fz\(13px\) {
  font-size: 13px;
}
.Fz\(180\%\) {
  font-size: 180%;
}
.Fz\(70\%\) {
  font-size: 70%;
}
.Fz\(80\%\) {
  font-size: 80%;
}
.Fz\(9px\) {
  font-size: 9px;
}
.H\(100\%\) {
  height: 100%;
}
.H\(42px\) {
  height: 42px;
}
.Lts\(1px\) {
  letter-spacing: 1px;
}
.List\(n\) {
  list-style-type: none;
}
.M\(20px\) {
  margin: 20px;
}
.M\(5px\) {
  margin: 5px;
}
.Mx\(5px\) {
  margin-left: 5px;
}
.Mx\(5px\), .Mend\(5px\) {
  margin-right: 5px;
}
.Mx\(a\) {
  margin-left: auto;
  margin-right: auto;
}
.My\(0\), .Mt\(0\) {
  margin-top: 0;
}
.My\(0\) {
  margin-bottom: 0;
}
.My\(20px\), .Mt\(20px\) {
  margin-top: 20px;
}
.My\(20px\), .Mb\(20px\) {
  margin-bottom: 20px;
}
.My\(24px\) {
  margin-top: 24px;
  margin-bottom: 24px;
}
.My\(7px\) {
  margin-top: 7px;
  margin-bottom: 7px;
}
.Mt\(51px\) {
  margin-top: 51px;
}
.Mend\(15px\) {
  margin-right: 15px;
}
.Mb\(10px\) {
  margin-bottom: 10px;
}
.Mb\(15px\) {
  margin-bottom: 15px;
}
.Mstart\(-75\%\) {
  margin-left: -75%;
}
.Mstart\(20\%\) {
  margin-left: 20%;
}
.Mih\(100\%\) {
  min-height: 100%;
}
.T\(0\) {
  top: 0;
}
.End\(0\) {
  right: 0;
}
.B\(0\) {
  bottom: 0;
}
.Ov\(h\) {
  overflow: hidden;
}
.P\(10px\) {
  padding: 10px;
}
.P\(5px\) {
  padding: 5px;
}
.Px\(15px\) {
  padding-left: 15px;
  padding-right: 15px;
}
.Px\(5px\) {
  padding-left: 5px;
  padding-right: 5px;
}
.Px\(60px\) {
  padding-left: 60px;
  padding-right: 60px;
}
.Py\(20px\) {
  padding-top: 20px;
  padding-bottom: 20px;
}
.Py\(2px\) {
  padding-top: 2px;
  padding-bottom: 2px;
}
.Pend\(13px\) {
  padding-right: 13px;
}
.Pb\(42px\) {
  padding-bottom: 42px;
}
.Pstart\(0\) {
  padding-left: 0;
}
.Pos\(a\) {
  position: absolute;
}
.Pos\(r\) {
  position: relative;
}
.Td\(n\) {
  text-decoration: none;
}
.Tt\(u\) {
  text-transform: uppercase;
}
.W\(100\%\) {
  width: 100%;
}
.W\(10em\) {
  width: 10em;
}
.W\(20\%\) {
  width: 20%;
}
.W\(25\%\) {
  width: 25%;
}
.W\(55\%\) {
  width: 55%;
}
.W\(700px\) {
  width: 700px;
}
