$color-a: #5F7928;
$color-b: #A7A7A7;


@include define-atom("font-family") {
    font-family: Georgia;
}
@include define-atom("code-font-family") {
    font-family: "Courier New";
}


@include define-atom("header-column-left-border") {
    @include border(null, null, null, dotted 1px $color-b);
}
@include define-atom("header-bottom-border") {
    @include border(null, null, solid 5px $color-b, null);
}
@include define-atom("header-text-color") {
    @include color($color-a);
}
@include define-atom("header-title-shadow") {
    @include text-shadow(1px, -1px, 1px, $color-b);
}

@include define-atom("content-code-bg-color") {
    @include bg-color($color-b, 30%);
}
@include define-atom("content-top-border") {
    @include border(dotted 1px $color-b, null, null, null);
}
@include define-atom("content-description-text") {
    @include color($color-b, 0, 20%);
}