@include define-atom("height-100") {
    height: 100%;
}

@include define-atom("font") {
    font: 10pt Tahoma, sans-serif;
}

@include define-atom("font-size-80-per") {
    font-size: 80%;
}

@include define-atom("font-size-100-per") {
    font-size: 100%;
}

@include define-atom("font-size-130-per") {
    font-size: 130%;
}

@include define-atom("font-size-7-pt") {
    font-size: 7pt;
}