.text {
  /* There can be some styles for content imported from backed */
}

.text img {
  float: left;

  margin: 0 15px 15px 0;
  padding: 5px;

  border: 1px solid #45F;
}

.text p {
  /* There can be some styles for html-elements in text-content block */
}
