html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #EEE;
	font: 10pt Tahoma, Sans-Serif;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1 {
	font-size: 180%;
	letter-spacing: 1px;
}

h2 {
	font-size: 130%;
}

h3 {
	font-size: 100%;
}

input {
	display: block;
	width: 10em;
	font-size: 7pt;
}

button {
	font-size: 7pt;
}

.blue {
	color: #FFF;
	background: #293499;
}

.light-blue {
	background: #DDE6FF;
	color: #000;
}

.wrapper {
	width: 700px;
	background: #FFF;
	min-height: 100%;
	margin: 0 auto;
	position: relative;
}

.header {
	background: #45F;
	color: #FFF;
	padding: 20px;
}

.name {
	display: inline-block;
	margin: 0;
	padding-left: 40px;
}

.search {
	display: inline-block;
	float: right;
	font-size: 80%;
}

.search label {
	display: inline-block;
}

.search button {
	display: inline-block;
	vertical-align: bottom;
}

.nav {
	float: left;
	width: 20%;
}

.nav ul {
	font-size: 80%;
	margin: 50px 0;
}

.nav a {
	display: block;
	border: 1px solid #FFF;
	border-right: 0;
	border-left: 0;
	margin: 5px 0;
	padding: 2px 5px;
	text-decoration: none;
}

.nav a:hover {
	color: #FFF;
	background: #D00;
}

.main {
	overflow: hidden;
	padding-bottom: 42px;
}

.content {
	float: left;
	width: 55%;
}

.content h2 {
	color: #293499;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0 15px;
}

.content img {
	float: left;
	padding: 5px;
	border: 1px solid #45F;
	margin: 0 15px 15px 0;
}

.article {
	padding: 0 15px;
}

.news {
	float: right;
	color: #293499;
	width: 25%;
}

.title {
	text-transform: uppercase;
	font-weight: bold;
	background: #DDE6FF;
	margin: 0 0 20px 0;
	padding: 10px;
}

.item {
	font-size: 80%;
	color: #293499;
	margin: 20px 5px;
}

.item h3 {
	float: left;
	font-weight: bold;
	margin: 0 5px 0 0;
}

.item p {
	display: inline;
}

.item a {
	color: #D00;
	padding-right: 13px;
}

.footer {
	position: absolute;
	background: #45F;
	color: #FFF;
	width: 700px;
	height: 40px;
	padding: 1px 0;
	bottom: 0;
}

.footer span {
	clear: both;
	margin: 5px;
	display: block;
	font-size: 70%;
}

.footer a {
	color: #FFF;
}