body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #EEE;
  font: 13px Tahoma, Sans-Serif; }

.grid--general-width {
  max-width: 700px; }

.grid--sticky-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }
  .grid--sticky-footer:last-child {
    -ms-flex-line-pack: end;
    align-content: flex-end; }
  .grid--sticky-footer > .row {
    margin: 0; }
    .grid--sticky-footer > .row:nth-last-child(2) {
      -ms-flex: 1;
      flex: 1; }

.row--no-indent {
  margin-top: 0;
  margin-bottom: 0; }

.col--no-indent, .header, .header__title, .header__search, .main, .nav, .content, .news, .footer {
  padding: 0; }

.header {
  padding: 20px;
  background: #45F; }
  .header__title {
    display: inline-block;
    margin: 0;
    padding-left: 40px;
    color: #FFF;
    font-size: 180%;
    letter-spacing: 1px; }
    @media (max-width: 544px) {
      .header__title {
        padding: 0 0 10px; } }
  .header__search {
    float: right;
    font-size: 80%;
    text-align: right; }
  .header__label {
    text-align: left; }

.label {
  display: inline-block;
  color: #FFF; }
  .label__field {
    display: block;
    width: 10em;
    font-size: 9px; }

.button {
  display: inline-block;
  vertical-align: bottom;
  font-size: 9px; }

.main {
  background: #FFF; }

.nav {
  float: left; }
  .nav__list {
    margin: 50px 0;
    padding: 0;
    list-style: none; }
  .nav__link {
    font-size: 80%;
    display: block;
    margin: 5px 0;
    padding: 2px 5px;
    border: 1px solid #FFF;
    border-right: 0;
    border-left: 0;
    color: #000;
    text-decoration: none;
    background: #DDE6FF; }
    .nav__link:hover {
      color: #FFF;
      background: #D00; }
    .nav__link--active {
      color: #FFF;
      background: #293499; }

.content {
  float: left; }
  .content__title {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 15px;
    font-size: 130%;
    color: #293499; }
  .content__article {
    padding: 0 15px; }
    .content__article__image {
      float: left;
      margin: 0 15px 15px 0;
      padding: 5px;
      border: 1px solid #45F; }
  .content__image {
    float: left;
    margin: 0 15px 15px 0;
    padding: 5px;
    border: 1px solid #45F; }

.news {
  float: right; }
  .news__title {
    margin: 0 0 20px 0;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #293499;
    background: #DDE6FF; }
  .news__article {
    margin: 20px 5px;
    font-size: 80%; }
  .news__date {
    float: left;
    margin: 0 5px 0 0;
    color: #293499;
    font-size: 100%;
    font-weight: bold; }
  .news__text {
    display: inline;
    color: #293499; }
    .news__text p:last-of-type {
      display: inline; }
  .news__link {
    padding-right: 13px;
    color: #D00; }

.footer {
  height: 42px;
  color: #FFF;
  background: #45F; }
  .footer__text {
    display: block;
    margin: 5px;
    font-size: 70%; }
  .footer__link {
    color: #FFF; }
