@import 'node_modules/flexbox-grid-sass/src/flexbox-grid';

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #EEE;
  font: 13px Tahoma, Sans-Serif;
}

.grid {
  &--general-width {
    max-width: 700px;
  }

  &--sticky-footer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &:last-child {
      align-content: flex-end;
    }

    > .row {
      margin: 0;

      &:nth-last-child(2) {
        flex: 1;
      }
    }
  }
}

.row {
  &--no-indent {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.col {
  &--no-indent {
    padding: 0;
  }
}

.h2 {
  font-size: 16.9px;
  color: #293499;
}

.h3 {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #293499;
  background: #DDE6FF;
}

.header {
  @extend .col;
  @extend .col--xl-12;
  @extend .col--sm-12;
  @extend .col--no-indent;
  padding: 20px;
  background: #45F;

  &__title {
    @extend .col;
    @extend .col--xs-12;
    @extend .col--sm-8;
    @extend .col--no-indent;
    display: inline-block;
    margin: 0;
    padding-left: 40px;

    @media (max-width: 544px) {
      padding: 0 0 10px;
    }
  }

  &__search {
    @extend .col;
    @extend .col--xs-12;
    @extend .col--sm-4;
    @extend .col--no-indent;
    float: right;
    text-align: right;
  }

  &__label {
    display: inline-block;
    text-align: left;
  }
}

.title {
  color: #FFF;
  font-size: 23.4px;
  letter-spacing: 1px;
}

.search {
  font-size: 10.4px;
}

.label {
  color: #FFF;

  &__field {
    display: block;
    width: 10em;
    font-size: 9px;
  }
}

.button {
  display: inline-block;
  vertical-align: bottom;
  font-size: 9px;
}

.main {
  @extend .col;
  @extend .col--sm-12;
  @extend .col--no-indent;
  background: #FFF;
}

.nav {
  @extend .col;
  @extend .col--xs-12;
  @extend .col--sm-12;
  @extend .col--md-2;
  @extend .col--no-indent;
  float: left;

  &__list {
    margin: 50px 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    font-size: 10.4px;
    display: block;
    margin: 5px 0;
    padding: 2px 5px;
    border: 1px solid #FFF;
    border-right: 0;
    border-left: 0;
    color: #000;
    text-decoration: none;
    background: #DDE6FF;

    &:hover {
      color: #FFF;
      background: #D00;
    }

    &--active {
      color: #FFF;
      background: #293499;
    }
  }
}

.content {
  @extend .col;
  @extend .col--xs-12;
  @extend .col--sm-6;
  @extend .col--md-7;
  @extend .col--no-indent;
  float: left;

  &__title {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 15px;
  }

  &__article {
    padding: 0 15px;
  }
}

.text {
  /* There can be some styles for content imported from backed */

  img {
    float: left;
    margin: 0 15px 15px 0;
    padding: 5px;
    border: 1px solid #45F;
  }

  p {
    /* There can be some styles for html-elements in text-content block */
  }
}

.news {
  @extend .col;
  @extend .col--xs-12;
  @extend .col--sm-6;
  @extend .col--md-3;
  @extend .col--no-indent;
  float: right;

  &__title {
    margin: 0 0 20px 0;
    padding: 10px;
  }

  &__article {
    margin: 20px 5px;
    font-size: 10.4px;
  }

  &__date {
    float: left;
    margin: 0 5px 0 0;
    color: #293499;
    font-size: 10.4px;
    font-weight: bold;
  }

  &__text {
    display: inline;
    color: #293499;

    p:last-of-type {
      display: inline;
    }
  }

  &__link {
    padding-right: 13px;
    color: #D00;
  }
}

.footer {
  @extend .col;
  @extend .col--sm-12;
  @extend .col--no-indent;
  height: 42px;
  color: #FFF;
  background: #45F;

  &__text {
    display: block;
    margin: 5px;
    font-size: 9.1px;
  }

  &__link {
    color: #FFF;
  }
}