@import 'node_modules/flexbox-grid-sass/src/flexbox-grid';

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: #EEE;
  font: 10pt Tahoma, Sans-Serif;
}

.grid--width {
  max-width: 700px;
}

.grid--full-height {
  min-height: 100vh;
}

.grid--footer {
  @extend .grid--full-height;
  display: flex;
  flex-direction: column;
  > .row {
    margin: 0 -.5rem;
  }
}

.row--clearfix {
  flex: 1;
}

.row--footer {
  align-items: flex-end;
}

.row--no-indent {
  margin-top: 0;
  margin-bottom: 0;
}

.col--no-indent {
  padding: 0;
}

.header {
  @extend .col;
  @extend .col--sm-12;
  @extend .col--no-indent;
  background: #45F;
  padding: 20px;
  &__title {
    @extend .col;
    @extend .col--xs-12;
    @extend .col--sm-8;
    @extend .col--no-indent;
    display: inline-block;
    margin: 0;
    padding-left: 40px;
    color: #FFF;
    font-size: 180%;
    letter-spacing: 1px;
  }
  &__search {
    @extend .col;
    @extend .col--xs-12;
    @extend .col--sm-4;
    @extend .col--no-indent;
    float: right;
    font-size: 80%;
    text-align: right;
  }
  &__label {
    text-align: left;
  }
}

@media (max-width: 544px) {
  .header {
    &__title {
      padding: 0 0 10px;
    }
  }
}

.label {
  display: inline-block;
  color: #FFF;
  &__field {
    width: 10em;
    display: block;
    font-size: 7pt;
  }
}

.button {
  font-size: 7pt;
  display: inline-block;
  vertical-align: bottom;
}

.main {
  @extend .col;
  @extend .col--sm-12;
  @extend .col--no-indent;
  background: #FFF;
}

.nav {
  @extend .col;
  @extend .col--xs-12;
  @extend .col--sm-2;
  @extend .col--no-indent;
  float: left;
  &__list {
    margin: 50px 0;
    padding: 0;
    list-style: none;
  }
  &__link {
    font-size: 80%;
    display: block;
    margin: 5px 0;
    border: 1px solid #FFF;
    border-right: 0;
    border-left: 0;
    padding: 2px 5px;
    background: #DDE6FF;
    color: #000;
    text-decoration: none;
    &:hover {
      color: #FFF;
      background: #D00;
    }
  }
  &__link--contact {
    color: #FFF;
    background: #293499;
  }
}

.content {
  @extend .col;
  @extend .col--xs-12;
  @extend .col--sm-7;
  @extend .col--no-indent;
  float: left;
  &__title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 130%;
    padding: 0 15px;
    color: #293499;
  }
  &__article {
    padding: 0 15px;
    &__image {
      float: left;
      padding: 5px;
      border: 1px solid #45F;
      margin: 0 15px 15px 0;
    }
  }
  &__image {
    float: left;
    padding: 5px;
    border: 1px solid #45F;
    margin: 0 15px 15px 0;
  }
}

.news {
  @extend .col;
  @extend .col--xs-12;
  @extend .col--sm-6;
  @extend .col--md-3;
  @extend .col--no-indent;
  float: right;
  &__title {
    background: #DDE6FF;
    text-transform: uppercase;
    font-weight: bold;
    color: #293499;
    margin: 0 0 20px 0;
    padding: 10px;
  }
  &__article {
    margin: 20px 5px;
    font-size: 80%;
  }
  &__date {
    color: #293499;
    font-size: 100%;
    font-weight: bold;
    float: left;
    margin: 0 5px 0 0;
  }
  &__text {
    display: inline;
    color: #293499;
    p:last-of-type {
      display: inline;
    }
  }
  &__link {
    color: #D00;
    padding-right: 13px;
  }
}

.footer {
  @extend .col;
  @extend .col--sm-12;
  @extend .col--no-indent;
  background: #45F;
  color: #FFF;
  padding: 1px 0;
  height: 42px;
  &__text {
    display: block;
    font-size: 70%;
    margin: 5px;
  }
  &__link {
    color: #FFF;
  }
}